.container {
    display: grid;
    grid-column: full;
    grid-template-columns: subgrid;
    align-items: center;
    gap: 2rem;
    padding-block: 10vh;
}

.container > * {
    grid-column: center;
}

.scribbledText {
    display: inline-grid;
    grid-template-areas: "stack";
    width: min-content;
}

.scribbledText > * {
    grid-area: stack;
}

.scribbledText img {
    width: 100%;
    height: 1.5vw;
    translate: -10% 310%;
    user-select: none;
}

.subtitle {
    font-size: var(--font-base);
    color: var(--gray-10);
    font-weight: 300;
    text-align: center;
}

.logos {
    overflow: hidden;
    grid-column: full;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, max-content);
    justify-content: center;
    gap: 3vmax;
}

.logos img {
    height: min(3vmax, 3.5rem);
    width: auto;
    max-width: 100%;
    margin-inline: auto;
}

.logos img:nth-child(1),
.logos img:nth-child(7) {
    margin-top: 3vmax;
}

.logos img:nth-child(2),
.logos img:nth-child(6) {
    margin-top: 2vmax;
}

.logos img:nth-child(3),
.logos img:nth-child(5) {
    margin-top: 1vmax;
}
