.container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
}

.text h2 {
    font-size: var(--font-lg);
    color: var(--gray-2);
    font-weight: 500;
    line-height: 1.2;
    text-wrap: balance;
}

.text p {
    font-size: var(--font-md);
    color: color-mix(in lab, var(--gray-5) 70%, transparent);
    font-weight: 300;
    line-height: 1.6;
    max-width: 32ch;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form label {
    margin-bottom: -1.5rem;
    color: var(--gray-5);
    font-size: var(--font-base);
    font-weight: 500;
}

.form input {
    line-height: 1;
}

.form span {
    margin-top: -1.5rem;
    font-size: var(--font-sm);
    color: var(--orange-9);
}

.form button {
    width: fit-content;
    padding: 1rem 2rem;
}
