.nav {
    position: sticky;
    top: 1rem;
    z-index: 10;
    background-color: color-mix(
        in lab,
        var(--color-background) 70%,
        transparent
    );
    backdrop-filter: blur(1rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    max-width: 32rem;
    margin-inline: auto;
    border-radius: 12px;
}

.nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.nav ul li a {
    color: var(--gray-12);
    text-decoration: none;
    font-weight: medium;
    transition: color 0.2s ease-out;

    &:hover {
        color: var(--gray-11);
    }
}

.nav ul li.logo {
    & a {
        display: flex;
        align-items: center;
        height: 100%;
    }

    margin-right: auto;
}

.nav .cta {
    background: var(--orange-9);
    color: var(--gray-2);
    padding: 0.5rem 1rem;
    border-radius: 6px;
    transition: background 0.2s ease-out, color 0.2s ease-out,
        padding 0.2s ease-out;
}

.nav .cta.active {
    display: none;
}

.nav .cta.hide {
    background: transparent;
    padding: 0;
    color: var(--gray-12);
}

.nav .cta:not(.hide):hover {
    background: var(--orange-10);
    color: var(--gray-1);
}

.nav .cta.hide:hover {
    color: var(--gray-11);
}
