.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    height: 100px;
}

.nav ul {
    list-style: none;
    display: flex;
    width: 100%;
    gap: 1rem;
}

.nav ul li a {
    color: var(--gray-12);
    text-decoration: none;
    font-weight: medium;
    transition: color 0.2s ease-out;

    &:hover {
        color: var(--gray-11);
    }
}

.nav ul li.logo {
    margin-right: auto;
}
