.container {
    display: flex;
    flex-direction: column;
}

.centered {
    text-align: center;
}

.title {
    font-size: var(--font-lg);
    font-weight: 500;
    color: var(--gray-12);

    & span {
        font-weight: 600;
        font-style: italic;
        font-family: "Lora", serif;
    }
}

.titleFirst .title {
    order: -1;
}

.subtitle {
    line-height: 1;
    font-size: var(--font-base);
    font-weight: 400;
    color: var(--orange-9);

    & span {
        font-weight: 600;
        font-style: italic;
        font-family: "Lora", serif;
    }
}

.large .title {
    font-size: var(--font-xxxl);
}

.large .subtitle {
    font-size: var(--font-lg);
}

@media screen and (max-width: 1440px) {
    .large .title {
        font-size: var(--font-xl);
    }

    .large .subtitle {
        font-size: var(--font-md);
    }
}

@media screen and (max-width: 834px) {
    .large .title {
        font-size: var(--font-lg);
    }

    .large .subtitle {
        font-size: var(--font-base);
    }
}

.dark .title {
    color: var(--gray-1);
}
