.container {
    display: grid;
    grid-template-columns: var(--grid-columns);
    grid-auto-rows: min-content;
}

.container > * {
    grid-column: center;
}

.container > *:not(nav):not(:last-child) {
    margin-block: 4rem;
}

.container > *:last-child {
    margin-top: 4rem;
}
